h1 {
    color: red;
}
/* this stuff above makes all header1's red. */

body {
    color: orange;
}

/* for basic selectors, the ones at the bottom here have priority*/

sub {
    color: purple;
}

.links {
    color: darkgreen;
}